body {
  background-image: url("../img/silly.jpg");
  -webkit-background-size: cover;
}

.jumbotron {
  margin: 25px;
}

.heading {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  margin: 10px;
}

form {
  background-color: rgba(255, 255, 255, .8);
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.question {
  padding: 15px;
}

.form-check {
  padding-left: 10px;
}

.form-check {
  padding-left: 10px;
}

button {
  padding: 20px;
}

img {
  display: block;
  margin: auto;
  width: 300px;
}

.result {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  padding: 15px;
}
