.result {
  display: none;
}

.row{
  padding-left: 50px;
}

.question {
  padding-top: 20px;
}

button {
  padding-left: 100px;
}

.heading {
  text-align: center;
  background-color: rgba(255, 255, 255, .6);
  padding: 20px;
  margin: 20px;
}

.col-form-legend {
  width: 15em;
}

ul {
  list-style-type: circle;
  text-align: left;
}

body {
  background-image: url("../img/notes.jpeg");
  -webkit-background-size: cover;
}

form {
  background-color: rgba(255, 255, 255, .8);
}
